/* TODO: Fix text overflow */

.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    max-width: 100%;
    position: relative;
}

.chatImg {
    padding: 0 13px;
}

.textPreview {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.textPreview::after {
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #222d34;
    position: absolute;
    bottom: 0;
}

.container:hover .textPreview::after {
    display: none;
}

.firstRow,
.secondRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lastMessage {
    display: flex;
    align-items: center;
}

.container:hover {
    cursor: pointer;
    background-color: var(--chat-preview-hover-dark);
}

.chatName,
.lastMessageText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0;
    color: white;
}

.chatName {
    font-size: var(--text-heading-size);
    color: var(--text-heading-color-dark);
}

.lastMessageText {
    font-size: var(--text-regular-size);
    color: var(--chat-preview-last-message-dark);
}

.sentAt {
    font-size: var(--text-regular-size);
    color: var(--text-regular-color-light);
    margin: 5px 0;
    font-size: 0.8rem;
}

.downArrow {
    transform: translateX(100%);
    opacity: 0;
}

.container:hover .downArrow {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.08s ease-in, opacity 0.08s;
}

.checkIcon {
    transform: scale(1.2);
    margin-inline-end: 5px;
}
