* {
    box-sizing: border-box;
}

html,
body,
#root,
.App {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.App {
    text-align: center;
}

/* TEXT SIZES */
:root {
    --text-heading-size: 0.9rem;
    --text-regular-size: 0.7rem;
}

/* COLORS */

:root {
    --text-heading-color-light: black;
    --text-regular-color-light: grey;
    --hover-light: rgb(175, 171, 171);
    --message-own-color: #015c4b;
    --message-other-color: grey;
    --layout-general: #1f2c33;
    --message-text: #293840;
}
