.messageContent {
    background-color: var(--layout-general);
    min-width: 75px;
    max-width: fit-content;
    padding: 7px 5px 2px 7px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 2px;
    color: white;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.messageTriangle {
    width: 0;
    height: 0;
    border-top: 8px solid var(--layout-general);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 0;
}

.ownMessage {
    align-self: flex-end;
    background-color: var(--message-own-color);
}

.ownMessage .messageTriangle {
    border-top: 8px solid var(--message-own-color);
    left: unset;
    right: 0;
    transform: translateX(50%);
}

.sentAt {
    font-size: 0.7rem;
    margin-top: 7px;
    color: var(--message-sent-at-dark);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkLogo {
    width: 20px;
    height: 20px;
}
